.section-table{
    margin-top: -420px;
    margin-left: 265px;
    margin-right: 15px;
}
.table-title{
    text-align: center;
    font-weight: 300;
    line-height: 2rem;
    font-size: 2.5rem;
    padding: 10px;
    text-transform: capitalize;
}