.navbar-inner{
    background: #123654;
    opacity: 0.9;
    transition: 0.3s ease;
}
.navbar-inverse{
    color: rgba(255, 255, 255, 0.7);
}
.navbar-inverse:hover{
    color: #fff;
}

#ticket{
    margin-top: 100px;
    margin-bottom: 50px;
}

.card1{
    margin-left: -50px;
}
.card2{
    margin-right: -50px;
}
.card3{
    margin-right: -50px;
    transition: 0.3 ease-in-out;
}
.card3:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px 0 #124265;
}
hr{
    width: 100%;
}
.ticket-btn{
    margin-top: 30px;
    background-color: #123654;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.card{
    box-shadow: 0 0 10px 0;
    transition: 0.3s ease-in-out;
}
.card:hover{
    box-shadow: 0 0 10px 0 #123654;
}
.card-header{
    background: #FFBF00;
    color: #123654;
}
.card-body, .card-footer table{
    color: #123654;
}
.btn-book{
    padding: 10px 30px;
    background-color: #124265;
    color: #FFBF00;
}
.heading{
    font-size: 1.2rem;
    font-weight: bold;
}