.flight-search{
    margin-top: 72px;
    background-color: #FFBF00;
}
.center-div{
    border-radius: 5px;
    margin-right: 110px;
}
.input-group{
    margin: 10px;
}
input[type="text"], input[type="email"], input[type="password"]{
    border: none;
    padding: 12px 35px 12px 0px;
    border-bottom: 1px solid #fff;
    background: #FFBF00;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    outline: none;
}
::placeholder, input{
    color: #fff;
}
.btn{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.right{
    font-size: 4rem;
}
.button{
    padding: 10px 60px;
    margin-left: 30px;
    background-color: #124265;
    border-color: orange;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }
  
  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }

.lined .nav-link {
    border: none;
    background: none;
    color: #fff;
    border-bottom: 3px solid transparent;
} 
.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}
.lined .nav-link.active {
    border-color: #fff;
}

.card{
    box-shadow: 0 0 10px;
    transition: 0.3s ease-in-out;
}
.card-header{
    background: #FFBF00;
    color: #fff;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px 0 #124265;
}
.btn-book{
    padding: 10px 30px;
    background-color: #124265;
    color: #FFBF00;
}
.heading{
    font-size: 1.2rem;
    font-weight: bold;
}