<app-admin-dashboard></app-admin-dashboard>
<div class="section-table">
    <h1 class="table-title">Flights Details <img class="ml-2" src="../../../assets/img/plane.png" alt="" width="50" height="50"></h1>
    <div class="mb-3" style="width: 40%;">
      <input class="form-control" type="text" placeholder="Search for..." [(ngModel)]="query">
    </div>
    <div class="card mb-3" id="table">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div><b>Flights Table</b><i class="fas fa-plane ml-2"></i></div>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#Flight">Add Flight</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Flight Image</th>
                  <th>Flight Name</th>
                  <th>From</th>
                  <th>Destination</th>
                  <th>Departure</th>
                  <th>Departure Time</th>
                  <th>Arrival Time</th>
                  <th>Time Taken</th>
                  <th>Seats</th>
                  <th>Fare</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let flight of allFlights | filter: query">
                  <td class="text-center"> <img src="{{ flight.flightImage }}" alt="" width="50" height="50"> </td>
                  <td> {{ flight.flightName }} </td>
                  <td> {{ flight.from }} </td>
                  <td> {{ flight.destination }} </td>
                  <td> {{ flight.day }}, {{ flight.month }} {{ flight.year }} </td>
                  <td> {{ flight.timeDepart }} </td>
                  <td> {{ flight.timeArrival }} </td>
                  <td> {{ flight.time }} </td>
                  <td> {{ flight.seats }} </td>
                  <td> {{ flight.fare }} </td>
                  <td class="text-center">
                    <a role="button" class="btn btn-success" data-toggle="modal" data-target="#Flight" (click) = "edit(flight._id)">Edit</a>
                    <button type="button" (click) = "delete(flight)" class="btn btn-danger ml-2">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
  <div class="modal fade" id="Flight" tabindex="-1" role="dialog" aria-labelledby="FlightModal" aria-hidden="true">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
            <div style="text-transform: uppercase;">
                <h1><b>{{ formHeading }}</b></h1>
            </div>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "flightForm" (ngSubmit) = "Flight()" method="POST">
              <div class="form-group">
                <i class="fas fa-plane"></i>
                <input type="text" class="form-control" formControlName="flightName" [ngClass]="{ 'is-invalid': submitted && fs.flightName.errors }" placeholder="Flight Name" required="required">
                <div *ngIf="submitted && fs.flightName.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.flightName.errors.required">Flight Name is required</div>
                </div>
              </div>
              <div class="form-group">
                
                <input type="text" class="form-control" formControlName="from" [ngClass]="{ 'is-invalid': submitted && fs.from.errors }" placeholder="From" required="required">
                <i class="fas fa-plane"></i>
                <div *ngIf="submitted && fs.from.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.from.errors.required">From is required</div>
                </div>
              </div>
              <div class="form-group">
                <i class="fas fa-map-marker"></i>
                <input type="text" class="form-control" formControlName="destination" [ngClass]="{ 'is-invalid': submitted && fs.destination.errors }" placeholder="Destination" required="required">
                <div *ngIf="submitted && fs.destination.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.destination.errors.required">Destination is required</div>
                </div>
              </div>
              <div class="form-group flip">
                <input type="date" class="form-control" formControlName="departure" [ngClass]="{ 'is-invalid': submitted && fs.departure.errors }" placeholder="Departure" name="departure" >
                <div *ngIf="submitted && fs.departure.errors" class="alert alert-danger">
                    Departure Field is required
                </div>
              </div>
              <div class="form-group flip">
                <input type="time" class="form-control" formControlName="timeDepart" [ngClass]="{ 'is-invalid': submitted && fs.timeDepart.errors }" placeholder="timeDepart" required="required">
                <div *ngIf="submitted && fs.timeDepart.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.timeDepart.errors.required">Departure Time is required</div>
                </div>
              </div>
              <div class="form-group flip">
                <input type="time" class="form-control" formControlName="timeArrival" [ngClass]="{ 'is-invalid': submitted && fs.timeArrival.errors }" placeholder="timeArrival" required="required">
                <div *ngIf="submitted && fs.timeArrival.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.timeArrival.errors.required">Arrival Time is required</div>
                </div>
              </div>
              <div class="form-group">
                <i class="fas fa-couch"></i>
                <input type="text" class="form-control" formControlName="seats" [ngClass]="{ 'is-invalid': submitted && fs.seats.errors }" placeholder="No. of Seats" required="required">
                <div *ngIf="submitted && fs.seats.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.seats.errors.required">Seats is required</div>
                </div>
              </div>
              <div class="form-group">
                <i class="fas fa-rupee-sign"></i>
                <input type="text" class="form-control" formControlName="fare" [ngClass]="{ 'is-invalid': submitted && fs.fare.errors }" placeholder="Fare" required="required">
                <div *ngIf="submitted && fs.fare.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.fare.errors.required">Fare is required</div>
                </div>
              </div>
              <div class="form-group">
                <input type="file" class="custom-file-input" formControlName="flightImage" [ngClass]="{ 'is-invalid': submitted && fs.flightImage.errors }">
                <label class="custom-file-label" for="customFile"><i class="fas fa-camera mb-2"></i><div class="ml-4" style="font-size: 15px;">{{ image }}</div></label>
                <div *ngIf="submitted && fs.flightImage.errors" class="alert alert-danger mt-2">
                  <div *ngIf="fs.flightImage.errors.required">Flight Image is required</div>
                </div>
              </div>
              <input hidden type="text" formControlName="time">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block btn-lg">{{ buttonName }}</button>
                  <button type="button" class="btn btn-secondary btn-block btn-lg" data-dismiss="modal">Cancel</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>