<nav class="navbar navbar-expand-lg p-3 fixed-top" (scroll)="onWindowScroll();">
    <a class="navbar-brand ml-5" href="flight">Flight Booking System</a>
    <button class="navbar-toggler toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-start" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-5 mt-2 mt-lg-0">
          <li class="nav-item">
              <a class="nav-link" role="button" href="flight">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" role="button" href="airlines">Airlines</a>
              </li>
          <li class="nav-item">
              <a class="nav-link" role="button" href="flight-list">Flight List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" role="button" href="about">About</a>
          </li>
          <li class="nav-item" *ngIf="!Login()">
              <a class="nav-link" role="button" data-toggle="modal" data-target="#myModalL">Login</a>
          </li>
          <li class="nav-item" *ngIf="!Login()">
              <a class="nav-link" role="button" href="/signup" data-toggle="modal" data-target="#myModalS">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="Login()">
            <a class="nav-link" role="button" data-toggle="modal" data-target="#myModalout">Logout</a>
        </li>
        </ul>
    </div>
</nav>